$bg-color: #ececec;
$bd-color: #b9b9b9;

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .App-Header {
    background: $bg-color;
    min-height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    color: #888e8e;
  }

  .App-Search {
    border-bottom: 1px solid #888e8e;
    min-height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;

    input {

      margin: 0.25em;
      font-size: 0.75rem;
      color: #888e8e;

      &[type="submit"] {
        width: 8rem;
        -webkit-appearance: none;
        height: 1.6rem;
        background: #3c3c3c;
        color: white;
      }

      &[type="text"] {
        width: 15rem;
        height: 1.25rem;
        text-indent: 5px;
      }
    }
  }

  .App-Results {
    flex-grow: 1;
    display: flex;
    

    .repositories {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      overflow: auto;

      .repoCard {

        &:hover {
          background:$bg-color;
        }

        border: 1px solid $bd-color;
        margin: 1rem;
        width: 20em;
        //height: 10em;
        display: flex;
        flex-direction: column;

          .name {
            padding: 0.5rem;
            a {
              font-size: 1.25rem;
              padding-bottom: 0.15rem;
              color: inherit !important;
            }
          }

          .lang {
            padding: 0.5rem;
            padding-top: 0.25rem;
            font-size: 0.75rem;
            color: green;
          }

          .desc {
            padding: 0.5rem;
            max-height: 5rem;
            overflow: hidden;
            padding-top: 1rem 0;
            text-overflow: ellipsis;
            font-size: 0.85rem;
          }

          .footer {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            
            .topContrib {
              padding: 0.5rem;
              text-align: right;
              font-size: 0.75rem;
              cursor: pointer;

              &:hover {
                text-decoration: underline;
              } 
            }

            .counts {
              display: flex;
              border-top: 1px solid $bd-color;
              justify-content: space-between;
              padding: 0.25rem;

              .fa {
                margin: 0 0.25rem;
              }

              .fa-star {
                color: #e8bb0b;
              }

              .fa-exclamation-triangle {
                color: #c73851;
              }
            }
          }
      }

    }

    .contributors {
      width: 30%;
      border-left: 1px solid $bd-color;
      display: flex;
      flex-direction: column;

      .list {
        height: 95%;
        overflow: auto;

        .repo-name {
          background: $bg-color;
          height: 5%;
          display: flex;
          align-items: center;
          font-size: 0.85rem;
          padding-left: 0.5rem;
        }

        .contrib-row {
          background: #d8e7fa;
          margin: 0.5rem;
          padding: 0.25rem;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          display: flex;

          .className {
            width: 5rem;
          }

          .details {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;

            a {
              color: inherit !important;
            }
          }

          .fa {
            padding: 0 0.25rem;
          }
        }
      }

      .footer {
        text-align: center;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid $bd-color; 
        color: #128cf1;
        cursor: pointer;

        &:hover {
          background: $bg-color;
        }
      }
    }
  }

}

.forceWidth{
  width: 70% !important;
}
