.App {
  display: flex;
  flex-direction: column;
  height: 100vh; }
  .App .App-Header {
    background: #ececec;
    min-height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    color: #888e8e; }
  .App .App-Search {
    border-bottom: 1px solid #888e8e;
    min-height: 5em;
    display: flex;
    justify-content: center;
    align-items: center; }
    .App .App-Search input {
      margin: 0.25em;
      font-size: 0.75rem;
      color: #888e8e; }
      .App .App-Search input[type="submit"] {
        width: 8rem;
        -webkit-appearance: none;
        height: 1.6rem;
        background: #3c3c3c;
        color: white; }
      .App .App-Search input[type="text"] {
        width: 15rem;
        height: 1.25rem;
        text-indent: 5px; }
  .App .App-Results {
    flex-grow: 1;
    display: flex; }
    .App .App-Results .repositories {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      overflow: auto; }
      .App .App-Results .repositories .repoCard {
        border: 1px solid #b9b9b9;
        margin: 1rem;
        width: 20em;
        display: flex;
        flex-direction: column; }
        .App .App-Results .repositories .repoCard:hover {
          background: #ececec; }
        .App .App-Results .repositories .repoCard .name {
          padding: 0.5rem; }
          .App .App-Results .repositories .repoCard .name a {
            font-size: 1.25rem;
            padding-bottom: 0.15rem;
            color: inherit !important; }
        .App .App-Results .repositories .repoCard .lang {
          padding: 0.5rem;
          padding-top: 0.25rem;
          font-size: 0.75rem;
          color: green; }
        .App .App-Results .repositories .repoCard .desc {
          padding: 0.5rem;
          max-height: 5rem;
          overflow: hidden;
          padding-top: 1rem 0;
          text-overflow: ellipsis;
          font-size: 0.85rem; }
        .App .App-Results .repositories .repoCard .footer {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-end; }
          .App .App-Results .repositories .repoCard .footer .topContrib {
            padding: 0.5rem;
            text-align: right;
            font-size: 0.75rem;
            cursor: pointer; }
            .App .App-Results .repositories .repoCard .footer .topContrib:hover {
              text-decoration: underline; }
          .App .App-Results .repositories .repoCard .footer .counts {
            display: flex;
            border-top: 1px solid #b9b9b9;
            justify-content: space-between;
            padding: 0.25rem; }
            .App .App-Results .repositories .repoCard .footer .counts .fa {
              margin: 0 0.25rem; }
            .App .App-Results .repositories .repoCard .footer .counts .fa-star {
              color: #e8bb0b; }
            .App .App-Results .repositories .repoCard .footer .counts .fa-exclamation-triangle {
              color: #c73851; }
    .App .App-Results .contributors {
      width: 30%;
      border-left: 1px solid #b9b9b9;
      display: flex;
      flex-direction: column; }
      .App .App-Results .contributors .list {
        height: 95%;
        overflow: auto; }
        .App .App-Results .contributors .list .repo-name {
          background: #ececec;
          height: 5%;
          display: flex;
          align-items: center;
          font-size: 0.85rem;
          padding-left: 0.5rem; }
        .App .App-Results .contributors .list .contrib-row {
          background: #d8e7fa;
          margin: 0.5rem;
          padding: 0.25rem;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          display: flex; }
          .App .App-Results .contributors .list .contrib-row .className {
            width: 5rem; }
          .App .App-Results .contributors .list .contrib-row .details {
            flex-grow: 1;
            display: flex;
            justify-content: space-between; }
            .App .App-Results .contributors .list .contrib-row .details a {
              color: inherit !important; }
          .App .App-Results .contributors .list .contrib-row .fa {
            padding: 0 0.25rem; }
      .App .App-Results .contributors .footer {
        text-align: center;
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #b9b9b9;
        color: #128cf1;
        cursor: pointer; }
        .App .App-Results .contributors .footer:hover {
          background: #ececec; }

.forceWidth {
  width: 70% !important; }
